<div id="logo"><img src="/assets/logo.svg" alt="image" id="logo-img" ></div>
<mat-card>
    <mat-card-title>Fragebogen</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="questionnaire" (ngSubmit)="onSubmit()">
            <div *ngFor="let question of questions">
                <span>{{question.getLabel()}}</span>
                <mat-form-field>
                    <input matInput formControlName="{{question.getName()}}">
                    <mat-error *ngIf="isInvalid('{{question.getName()}}')">{{getErrorMessage(question.getName())}}</mat-error>
                </mat-form-field>
            </div>
            <button mat-button [disabled]="!questionnaire.valid">Senden</button>
        </form>
    </mat-card-content>
</mat-card>